<!DOCTYPE html>
<html>
<head>

<!-- your webpage info goes here -->

    <title>Healthcare Hospital</title>

	<meta name="author" content="Taher Lakdawala" />
	<meta name="description" content="This application allows you to store patient related data and manipulate them." />

	<link rel="stylesheet" href="style.css" type="text/css" />

</head>
<body>
	<div id="page">
		{{> header}}
		<div id="content">
      {{#if isNoBed}}
      <h1 align="right" style="color:red;">Beds available: {{beds}}</h1>
      <h3 align="right" style="color:red;"><b>Sorry no Beds available!!</b></h3>
      {{else}}
      <h1 align="right">Beds available: {{beds}}</h1>
      {{/if}}
    <div style="width:500px; padding-left:350px; padding-bottom:50px">
      <form action="/add" method="post" style="text-align: center; float:left; padding-left:30px; padding-right:30px;">
        {{#if isNoBed}}
        <input type="submit" value="Add new Patient" disabled/>
        {{else}}
        <input type="submit" value="Add new Patient"/>
        {{/if}}
      </form>
      <form action="/search" method="post" style="text-align: center; float:left; padding-left:30px; padding-right:30px;">
        <input type="submit" value="Search"/>
      </form>
      <form action="/discharge" method="post" style="text-align: center; float:left; padding-left:30px; padding-right:30px;">
        <input type="submit" value="Discharge"/>
      </form>
    </div>
      <table class="imagetable" rules="groups" style="text-align:center;">
        <tr>
          <th>Name</th>
          <th>Admit Date</th>
          <th>Discharge Date
          <th>Disease</th>
          <th>Bed number</th>
          <th>Status</th>
        </tr>
        {{#each data}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{formatDate this.AdmitDate}}</td>
          {{#if this.DischargeDate}}
          <td>{{formatDate this.DischargeDate}}</td>
          {{else}}
          <td>---------</td>
          {{/if}}
          <td>{{this.Disease}}</td>
          {{#if this.Bed}}
          <td>{{this.Bed}}</td>
          {{else}}
          <td>-----</td>
          {{/if}}
          {{#if this.Bed}}
          <td style="color:green;">{{this.PatientStatus}}</td>
          {{else}}
          <td style="color:red";>{{this.PatientStatus}}</td>
          {{/if}}
        </tr>
        {{/each}}
      </table>

      <div style="width:500px; padding-left:350px; padding-bottom:25px; padding-top:25px;">
        <form action="/add" method="post" style="text-align: center; float:left; padding-left:30px; padding-right:30px;">
          {{#if isNoBed}}
          <input type="submit" value="Add new Patient" disabled/>
          {{else}}
          <input type="submit" value="Add new Patient"/>
          {{/if}}
        </form>
        <form action="/search" method="post" style="text-align: center; float:left; padding-left:30px; padding-right:30px;">
          <input type="submit" value="Search"/>
        </form>
        <form action="/discharge" method="post" style="text-align: center; float:left; padding-left:30px; padding-right:30px;">
          <input type="submit" value="Discharge"/>
        </form>
      </div>
		</div>
		<div id="footer">
			<p>
				Webpage made by <a href="/" target="_blank">Taher Lakdawala</a>
			</p>
		</div>
	</div>
</body>
</html>
